apiVersion: 1

deleteDatasources:
   - name: MySQL
     orgId: 1

datasources:
 - name: MySQL
   type: mysql
   access: proxy
   orgId: 1
   url: ${MYSQL_ADDON_HOST}:${MYSQL_ADDON_PORT}
   password: ${MYSQL_ADDON_PASSWORD}
   user: ${MYSQL_ADDON_USER}
   database: ${MYSQL_ADDON_DB}
   isDefault: true
   jsonData:
      keepCookies: []
   version: 1
